  <mat-list-item   id="task_{{task.id}}"
  [ngClass]="{'task--ALTA': task.priority === 'ALTA', 'task--MEDIA': task.priority === 'MEDIA', 'task--BAJA': task.priority === 'BAJA'}"
  >
<!--    <mat-icon matListIcon>folder</mat-icon> -->
    <img matListAvatar src="{{task.avatar}}" width="16px" style="border-radius:16px;" >
    <h3 matLine> {{task.description}} </h3>
    <p matLine>
      <span> {{task.priority}}</span>
      <span class="demo-2"> -- {{task.date}} </span>
    </p>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>how_to_reg</mat-icon>
        <span>Reasignar</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>swap_vertical_circle</mat-icon>
        <span>Cambiar Prioridad</span>
      </button>
      <button mat-menu-item>
        <mat-icon>work</mat-icon>
        <span>Ver</span>
      </button>
    </mat-menu>
        
  </mat-list-item>
  <mat-divider></mat-divider>